<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="provide" icon-off="ion-chatbox" icon-on="ion-chatbox-working" href="#/tab/feedback">
    <ion-nav-view name="tab-feedback"></ion-nav-view>
  </ion-tab>
  <ion-tab title="view" icon-off="ion-ios-list" icon-on="ion-ios-list" href="#/tab/viewfeedback">
    <ion-nav-view name="tab-viewfeedback"></ion-nav-view>
  </ion-tab>
  <ion-tab title="profile" icon-off="ion-ios-gear" icon-on="ion-ios-gear-outline" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
</ion-tabs>
