<ion-content class="has-header has-footer">
  <ion-list class="list-inset" ng-repeat="feedback in viewCtrl.feedback">
    <ion-item class="item item-divider item-thumbnail">
      <div>
        <img ng-src="http://graph.facebook.com/{{viewCtrl.fbName(feedback.userId)}}/picture?width=50&height=50"/>
        <b>{{feedback.user}}</b>
      </div>
    </ion-item>
    <ion-item>
      <ion-list ng-repeat="answer in feedback.answers">
        Question {{$index + 1}} {{answer}}
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
